{% extends base_template %}
{% block center %}
{% for form in project_forms %}
<div class='hidden form'>
    <form action='' method="post">
        {% csrf_token %}{{ form }}
    </form>
</div>
{% endfor %}
<div class='developer-profile'>
    {% for media in media_source %}
    {% include 'project/media.html' with media=media editable='True' %}
    <div class='project-selector hidden'>
        {% for form in project_forms %}
        <h4 class='a-project' media='{{ media.title }}'>{{ form.title.value }}</h4>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}