{% extends base_template %}
{% block center %}
{% for form in project_forms %}
<div class='hidden form'>
    <form id="{{ form.instance.pk }}" action='/profile/{{ developer.user.username }}/media/{{ form.instance.pk }}' method="post">
        {% csrf_token %}{{ form }}
    </form>
</div>
{% endfor %}
<div class='developer-profile'>
    {% for media in media_source %}
    <div class='media-element'>
        {% include 'project/media.html' with media=media editable='True' %}
        <div class='project-selector hidden'>
            {% for form in project_forms %} <h4 class='a-project' form='{{ form.instance.pk }}' title='{{ form.title.value }}' media='{{ media.title }}'>{{ form.title.value }}</h4>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}