{% extends base_template %}
{% load thumbnail %}
{% block center %}
<div class='hidden form'>
    <form action='' method="post">
        {% csrf_token %}{{ profile_form }}{{ user_form }}
    </form>
</div>
<img class='profile_picture' src='{{ developer.image.url }}' width='80px' height='80px' title='{{ developer }}'/>
<div class='developer-profile'>
    <h3>first last name</h3>
    <h5 id='first_name' class='editable'>{{ developer.user.first_name }} {{ developer.user.last_name }}</h5>
    <h3>username</h3>
    <h5>{{ developer.user.username }}</h5>
    <h3>email</h3>
    <h5><a href='mailto:{{ developer.user.email }}'>{{ developer.user.email }}</a></h5>
    <div id='connected_services'>
        <h3>connected services: </h3><br>
        {% for provider in current_providers %} <h6>{{ provider }}</h6>
        {% endfor %}
    </div>
    <br>
    <div id='other-providers'>
        <h3>other available services</h3>
        <br>
        {% for new in new_providers %} <a href="/auth/associate/{{ new }}"><h5>{{ new }}</h5></a>
        <br/>
        {% endfor %}
    </div>
</div>
{% endblock %} 