{% extends base_template %}
{% load thumbnail %}
{% block left_nav %}
<div id='profile_tabs'>
    <div class='cur-page'>
        <a href='{{ developer.get_absolute_url }}'>Profile</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/repos'>Repos</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/media'>Media</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/social'>Scoial</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/projects'>Projects</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/posts'>Posts</a>
    </div>
    <div>
        <a href='/{{ developer.profile_gists_url }}'>Gists</a>
    </div>
</div>
{% endblock %}
{% block center %}
<div class='developer-profile'>
    <h3>first last name</h3>
    <h5>{{ developer.user.first_name }} {{ developer.user.last_name }}</h5>
    <h3>username</h3>
    <h5>{{ developer.user.username }}</h5>
    <h3>email</h3>
    <h5><a href='mailto:{{ developer.user.email }}'>{{ developer.user.email }}</a></h5>
    <div id='connected_services'>
        <h3>connected services: </h3><br>
        {% for provider in current_providers %} <h6>{{ provider }}</h6>
        {% endfor %}
    </div>
    <br>
    <div id='other-providers'>
        <h3>other available services</h3>
        <br>
        {% for new in new_providers %} <a href="/auth/associate/{{ new }}"><h5>{{ new }}</h5></a>
        <br/>
        {% endfor %}
    </div>
    {% if developer.image %}
    {% thumbnail developer.image '250' crop='center' as img %}<img id='profile_picture' src='{{ STATIC_MEDIA }}{{ img.url }}' width='{{ img.width }}' height='{{ img.height }}' title='{{ developer }}'/> {% endthumbnail %}
    {% endif %}
</div>
{% endblock %} 