{% extends base_template %}
{% load thumbnail %}
{% block left_nav %}
<div id='profile_tabs'>
    <div>
        <a href='{{ developer.get_absolute_url }}'>Profile</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/repos'>Repos</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/media'>Media</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/social'>Scoial</a>
    </div>
    <div class='cur-page'>
        <a href='{{ developer.get_absolute_url }}/projects'>Projects</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/posts'>Posts</a>
    </div>
    <div>
        <a href='/{{ developer.profile_gists_url }}'>Gists</a>
    </div>
</div>
{% endblock %}
{% block center %}
<div class='developer-profile'>
    <div id='projects'>
        {% for project in developer.projects.all %}
        <div class='project'>
            <a href='{{ project.url }}'target="_blank"><h5>{{ project }}</h5></a>
            <br>
            <p>
                {{ project.blurb }}
            </p>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}