{% extends base_template %}
{% load thumbnail %}
{% block center %}
{% for form in project_forms %}
<div class='hidden form'>
    <form action='' method="post">
        {% csrf_token %}{{ form }}
    </form>
</div>
{% endfor %}
<div class='developer-profile'>
    <div id='projects'>
        {% for project in developer.projects.all %}
        <div class='project'>
            <a href='{{ project.url }}'target="_blank"><h5 id='title' class='editable'>{{ project }}</h5></a>
            <br>
            <p id='blurb' class='editable'>
                {{ project.blurb }}
            </p>
            <br>
            {% if project.use_git_blurb %}<h6 onclick='useGit(0)'>stop using github description</h6>{% else %}<h6 onclick='useGit(1)'>use github description?</h6>{% endif %}
        </div>
        {% endfor %}
        <br>
        <h3 id='add_project'>add new project</h3>
        <div id='new-project'>
            <form name='new' action='/project/new-project' method="post">
                {% csrf_token %}{{ project_form.as_p }}
                <input type='submit' value='submit'/>
            </form>
        </div>
    </div>
</div>
{% endblock %}