{% extends base_template %}
{% load thumbnail %}
{% block center %}
{% for form in project_forms %}
<div class='hidden form'>
    <form action='' method="post">
        {% csrf_token %}{{ form }}
    </form>
</div>
{% endfor %}
<div class='developer-profile'>
    <div id='projects'>
        {% for project in developer.projects.all %}
        <div class='project'>
            <a href='{{ project.url }}'target="_blank"><h5>{{ project }}</h5></a>
            <br>
            <p id='blurb' class='editable'>
                {{ project.blurb }}
            </p>
            <br>
            {% if project.use_git_blurb %}<h6 onclick='useGit(0)'>stop using github description</h6>{% else %}<h6 onclick='useGit(1)'>use github description?</h6>{% endif %}
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}