{% extends 'developer/profile_base.html' %}
{% load thumbnail %}
{% block center %}
<div class='developer-profile'>
    <div id='repos'>
        {% for repo in repos %}
        <div class='repo'>
            <a href='{{ repo.url }}'target="_blank"><h5>{{ repo }}</h5></a>
            <br>
            <p>
                {{ repo.blurb }}
            </p>
            <div class='projects'>
            <h4>projects in:</h4><br>
            {% for project in repo.project_set.all %}
            <a href='{{ project.get_absolute_url }}'><h6>{{ project }}</h6></a>
            {% endfor %}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}