{% extends base_template %}
{% load thumbnail %}
{% block left_nav %}
    <div id='profile_tabs'>
    <div class='cur-page'>
        <a href='{{ developer.get_absolute_url }}'>Profile</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/repos'>Repos</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/media'>Media</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/social'>Scoial</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/project'>Projects</a>
    </div>
    <div>
        <a href='{{ developer.get_absolute_url }}/posts'>Posts</a>
    </div>
    <div>
        <a href='/{{ developer.profile_gists_url }}'>Gists</a>
    </div>
</div>
{% endblock %}
{% block center %}
<div class='developer-profile'>
	<div id='repos'>
    {% for repo in repos %}
	<a href='{{ repo.url }}'target="_blank"><h5>{{ repo }}</h5></a>
	<p>{{ repo.blurb }}</p>
	<br>
	{% endfor %}
    </div>
</div>{% endblock %}