{% extends 'base.html' %}
{% block center %}
<style type='text/css'>
	form, input {
		display: inline;
	}
	#feedback {
		position: fixed;
		top: 20px;
		right: 30px;
	}
</style>
<script type='text/javascript'></script>
<h2>{{ project }}</h2>
<br>
<p>
	{% autoescape off %}
	{{ project.blurb }}
	{% endautoescape %}
</p>
<br>
<div id='videos'>
{% for media in project.media.all %}
	{% include 'project/media.html' with media=media %}
{% endfor %}
</div>
<div id='commits'>
{% for repo in project.repos.all %}
	{% include 'project/repo.html' with repo=repo %}
</div>
{% endfor %}

{% endblock %} 