{% load thumbnail %}
<div date='{{ media.date|lower }}' class='media-thumbs {% if editable %}editable {% endif %}'>
  {% if media.video %} <h6>click to view video</h6>
  {% thumbnail media.get_image "200x200" crop="center" as im %} <img class='mini' src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" video='{{ media.video }}'>
  {% endthumbnail %}
  <iframe width='300px' height='350px' src=''></iframe>
  {% else %} <h6>click to view image</h6>
  {% thumbnail media.get_image "200x200" crop="center" as im %} <img class='mini' src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" video='{{ media.video }}'>
  <img src=""/>
  {% endthumbnail %}
  {% endif %}
</div>
