{% load thumbnail %}
<div date='{{ media.date|lower }}' class='media-thumbs {% if editable %}editable {% endif %}'>
    {% if media.video %} <h6>click to view video</h6>
    {% thumbnail media.image.external "200x200" crop="center" as im %} <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" video='{{ media.video }}'>
    {% endthumbnail %} <iframe width='300px' height='350px' src=''></iframe>
    {% else %} <h6>click to view image</h6>
    {% thumbnail media.image.url "200x200" crop="center" as im %} <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class='mini' image="{{ media.image.url }}"/><img src="" />
    {% endthumbnail %}
    {% endif %}
</div>