{% if post.link_set.count > 0 %}
<ul class='links'>
	<h3>links</h3>
	{% for link in post.link_set.all %}
	<li>
		<a href='{{ link.url }}' target='_blank'>{{ link }}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% if user and showForm == 1 %}<h4 class='form-part'> (+) </h4>
	<form id='link_form' class='form-part' method='post' action=''>
		{% csrf_token %}{{ linkForm.url }}
		<input type='submit' class='submit' value='submit' />
	</form>
	{% endif %}
{% if post.tag_set.count > 0 %}
<ul class='tags'>
	<h3>tags</h3>
	{% for tag in post.tag_set.all %}
	<li>
		<a href='{{ tag.url }}' target='_blank'>{{ tag }}</a>
	</li>
	{% endfor %}
{% endif %} 
	{% if user and showForm == 1 %}<h4 class='form-part'> (+)</h4>
	<form id='tag_form' class='form-part' method='post' action=''>
		{% csrf_token %}{{ tagForm.text }}
		<input type='submit' class='submit' value='submit' />
	</form>
	{% endif %} </ul>