<p>
    code.art is a protocol, of sorts, for this process. Don't think protocol like git, ssh, or TCP. It is a protocol in the way that Youtube and Twitter are protocols. Non-technies are shown just enough of the under system to get excited about it, like #hashtags. All the sudden the # symbol went from being an ugly part of a url that had to exist before html5 to a celebritey endorsed pop icon.
    <br>
    <br>
    First link your media files and code repos to a code.art project. Then using #hashtags and other built in directives in the description, comments, and commits of the media and repos and code.art will link them visually together when the project gets viewed. The visual linkage will be a roadmap and guideline, if you check out this revision you should see what is in this video or image. It will also be inspiration; seeing a video and knowing that the code to make that run is right there next to it is inspiring.
</p>