<!DOCTYPE HTML5>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name='description' content='content managed artist websites' />
        <meta name='keywords' content='artist, website, tagging, hacking, art sharing, code, art72, art, open source,' />
        <link id='main-css' type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/styles.css'/>
        <link type='image/x-icon' rel="icon" href='{{ STATIC_URL }}images/fav.png' />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24196336-2']);
            _gaq.push(['_trackPageview']); (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
        <script type="text/javascript" src="https://use.typekit.com/cew3pji.js"></script>
        <title>{% block header_title %}code.art{% endblock %}</title>
        <script type="text/javascript">
            try {
                Typekit.load();
            } catch(e) {
            }
        </script>
        <title>{% block title %}{% endblock %}</title>
        <script>
            ( function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if(d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=172127646238759";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>
    </head>
    <body>
        <div id="fb-root"></div>
        {% include "header.html" %}
        <div id='container'>
            <div id='left-nav'>
                {% block left_nav %} <h3>projects</h3>
                {% for project in projects %} <a href='{{ project.get_absolute_url }}'>
                <li>
                    {{ project }}
                </li></a>
                {% endfor %} <h3>tags</h3>
                {% for tag in tags %} <a href='{{ tag.get_absolute_url }}'>
                <li>
                    {{ tag }}
                </li></a>
                {% endfor %}
                <div id='soc-links'>
                    {% for provider, val in current_providers.items %}
                    <div class='soc-icon'>
                        {% include val %}
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
            </div>
            <div id='wrapper'>
                <div id='main'>
                    {% block center %}{% endblock %}
                </div>
            </div>
            {% if user %}
            <div id='right-nav'>
                <h3 id='new-post'>(+) make new post</h3>
                <form id='post_form' method='post' action=''>
                    {% csrf_token %}
                    {{ post_form }}
                    <br>
                    <button type='submit'>
                        submit
                    </button>
                </form>
            </div>
            {% endif %}
            {% block right_nav %}
            {% endblock %}
            {% include 'footer.html' %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
