<header>
    <div>
        <a href="/"><img id='logo' src="{{ STATIC_URL }}images/mark.png" /></a>
        <div id='login'>
            {% if developer %} <img id='profile_picture' src='{{ developer.image.url }}' width='80px' height='80px' title='{{ user }}'/>
            <a href='{{ developer.get_absolute_url }}'><h3>{{ developer }}</h3></a>
            {% endif %}
        </div>
    </div>
    <a href="/">
    <div id='header-title'>
        <img height='100px' width='auto' src="{{ STATIC_URL }}images/title_text.png" />
    </div></a>
</header>
