<header>
    <div>
        <div id='login'>
            {% if user %} <img id='profile_picture' src='{{ user.get_profile.image.url }}' width='80px' height='80px' title='{{ user }}'/>
            <a href='{{ user.get_profile.get_absolute_url }}'><h3>{{ user.get_profile }}</h3></a>
            <a href='{{ user.get_profile.get_absolute_url }}'><h5>edit profile</h5></a>&nbsp;&nbsp;|&nbsp;&nbsp;<h5><a href='/logout'>logout</a></h5>
            {% else %} <h5><a href='/login'>login</a> or <a href='/register'>register</a></h5>
            {% endif %}
        </div>
    </div>
    <a href="/">
    <div id='header-title'>
    <a href="/"><img class='logo' width='auto' height='100' src="{{ STATIC_URL }}images/logo.png" /></a>
    </div></a>
</header>
