{% extends 'base.html' %}
{% load thumbnail %}
{% block center %}
<h4 class='whatIs'>what is code.art?</h4>
<div id='about' class='hidden'>
  <div class='header'>
    <h3>define: code.art</h3>
  </div>
  <div class='define'>
    <p>
    code.art is a website for sharing and managing your documentation of process. The creative process as a new media artist generates documentation naturally, code and images/videos. This does not necessarily mean code as in Python or C, but also code as in an Adobe Illustrator file or Rhino CAD file. Anything that is getting saved is encoded in some file extension, code.art just links that file back to its visual appearance.
    </p>
  </div>
  <br>
  <div class='column appeals'>
    <div class='header'>
      <h5>artists</h5><h3>sketch book, meet command z</h3>
    </div>
    <p>
    By documenting the process of creating through github and video/image, you can always access any version of the project you were working on. Fear not the command line, github has an app for <a href="http://mac.github.com/" target="_blank">Mac</a>, making it easier than ever to get started on using git. I hope this site helps you discover a little bit more about your own process.
    </p>
  </div>
  <div class='column appeals'>
    <div class='header'>
      <h5>hackers</h5><h3>look at all the cool shit</h3>
    </div>
    <p>
    I know why you program, the gratification of having a series of words turn into a functioning systems. Tutorials are great, and watching videos of really amazing installations/machines/hacks, also great. I am not trying to replace any of those, rather just show the path from one to the other in a visual and code revision format. I hope this site inspires you to never stop hacking it together.
    </p>
  </div>
  <div class='column appeals'>
    <div class='header'>
      <h5>developers</h5
      <br>
      <h3>wasted cpu cycles</h3>
    </div>
    <p>
    This concept doesn't hold water if it isn't always free and open to all, so I would love any help. Fork it, refine it, and send it back. I'm sure there has been a time in your life where you realized your monitor was full color, if not come look at how the repos look here. I hope this site opens your eyes to the possibilities constantly appearing in front of you.
    </p>
  </div>
  <br>
  <h4 class='whatIs hidden'>Oh, I get it now...</h4>
</div>
<div id='bottom'>
  <div id='thinkspace' class='half-column'>
    <h2>Think space</h2>
    <ul>
      {% for post in posts %}
      <li class='post'>
      <a href='{{ post.get_absolute_url }}'><h3>{{ post }}</h3></a>
      <h6>posted by: {% include "developer/tag.html" with developer=post.developer %}</h6>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id='projects' class='half-column'>
    <h2>Process / Projects</h2>
    <ul>
      {% for project in projects %}
      <li class='post'>
      <a href='{{ project.get_absolute_url }}'><h3>{{ project }}</h3>
        {% thumbnail project.get_image "150x150" crop="center" as im %} <img class='mini' src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
        {% endthumbnail %}
        <p> {{ project.blurb|truncatewords:30 }}
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>
$(document).ready(function(){
  $('.whatIs').click(function(){
    $('#about').toggle(300);
    $('.whatIs').toggle(300);
  });
});
</script>
{% endblock %}
