{% extends 'base_ajax.html' %}
{% block title %}stuff{% endblock %}
{% block center %}
<p>
    code.art will launch with several of my recent installations as pilot projects, namely the "riverless walk" installation I am currently working on. The installation and this site are getting built at the same time, and are lending a hang to one another.
    <br>
    <br>
    I will be hosting monthly arduino crash courses to give physical presence and promote awareness of what is available. Also I will be giving out user registrations for code.art as the project matures.
</p>
{% endblock %}