<!DOCTYPE HTML>
<html>
    <head>
        <title>Code-Art72 Profile | {{ user }}</title>
    </head>
    <body>
        {% if user.is_authenticated %} <h2>Welcome back {{ user }}.</h2>
        <p>
            Not you? <a href="/accounts/logout">log out</a>
        </p>
        <h2>your site: <a href="{{ user.get_profile.get_absolute_url }}">{{ user.get_profile.get_absolute_url }}</a></h2>
        <h2>account info</h2>
        <ul>
            <li>
                first name: {{ user.first_name }}
            </li>
            <li>
                last name: {{ user.last_name }}
            </li>
            <li>
                email: {{ user.email }}
            </li>
            <li>
                username: {{ user.username }}
            </li>
        </ul>
        <h2>artist info</h2>
        <p>
            statement:
            <br />
            {{ user.get_profile.statement }}
        </p>
        {% else %}
        you really shouldn't be here.
        {% endif %}
    </body>
</html>